.markerbg {
  position: absolute;
  width: 400px;
  border: 1px grey solid;
  display: none;
  background-color: #FFF;  
}
.markerbg h3 {
  text-align: center;
}
.markerbg p {
  padding-left: 6px;
}
.dis-title {
  color:#000;
}
